.top-content{
	background-color: #00a261;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}

.middle-content{
	background-color: white;
	color:black;
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
}

.middle-content .title{
  font-family: Arial, Helvetica, sans-serif;
 color:#c71585;
 font-height:100px;
 font-width:100px;

}

.container{
	padding: 0px 100px
}




.middle-content .menu .search-form{
	display: flex;
	margin-left: 10px;
}

.middle-content ul li:hover{
  background-color: yellow;
}

.menu ul{

	margin:0;
	padding:0;
	list-style:none;
	line-height:30px;
	display: flex;
}

/*.menu li{
	display: flex;

}*/

.menu ul li a{

	background:#142b47;
	text-decoration:none;
	width:fit-content;
	padding:0px 20px;
	display:block;
	text-align:center;
	color:#f2f2f2;
	font-size:18px;
	font-family:sans-serif;
	letter-spacing:0.5px;

}

.menu li a:hover{
	color:#fff;
	opacity:0.5px;
	font-size=19px;
}

.search-form{

	margin-top:15px;
	float:right;
	margin-right:100px;

}
button{
float:right;
background:orange;
color:white;
border-radius:0 5px 5px 0;
cursor:pointer;
position:relative;
padding:7px;
font-family:sans-serif;
border:none;
font-size:16px;


}

.banner-image img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.banner{
	position: relative;

}

.banner-text{
	position: absolute;
	top: 50%;
	color:white;
	font-size:100px;
	font-weight:bold;
	
}

div.relative{
   position:relative;
   left:30px;
}

p1{
 text-align:end;
 text-indent:50px;

}


.fourth{
	display: flex;
	margin-top: 40px;
	/*padding:50px;*/
}
.fourth button{
	border-radius: 3px;
    background-color: #fec84c;
    text-transform: uppercase;

}

.fourth img{
	width: 100%;
	height: auto;
}

.fourth .image{
	width: 50%;
}

.fourth .desc{ width: 40%; 
margin-left:50px;
}

/*p{
	text-shadow: 2px 2px #FF0000;
}
*/
h2{

	text-decoration-line:underline;
	text-decoration-color:red;
  color:purple;
}
h3{
color:purple;

}

p2{
color:solid-black;
font-size:130%;
margin:10px 10px 10px 10px;
margin-color:yellow;

}
.desc{

	font-style:italic;
}


.bottom{
	background-color: #e8f5f0;
	display: flex;



}

.soln-desc{
	width: 50%;
}

.soln-img{
	width: 50%;
}

.soln-img img{
	width: 100%;
	height: auto;
}
.bottom{
	margin-top: 40px;
}

.fifth{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
background-color:green;
padding:10%;

}

.video{
display:flex;
align-content:center;
margin-bottom:50px;
}

.flex-container {
  display: flex;
  background-color: #f1f1f1;
  margin-top:20px;
  margin-left:30px;
  margin-right:30px;
}
.flex-container > div {
  background-color:#808080;
  color: white;
  width: 250px;
  margin: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.sixth{
	display:flex;
	width: 100%;
	height:80px;
	background-color:#90EE90;
}

.seventh img{
	width: 100%;
	height: auto;
}
.seventh .image{
	width: 50%;
	background-color:black;

}

.seventh ul li:hover {
  background-color: yellow;
}

.eight{
	background-color: #696969;
	color: white;
	display: flex;
	justify-content: space-around;
	
}

/*.recycling program{
	display:flex;
	justify-content:center;


}*/
.recycling-program {
	 display:flex;
  flex-direction: column;
	justify-content:center;
  text-align: center;
  margin-top: 10px;
}


.recycling-program .text{
	font-size: 45px;
    line-height: 50px;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
}

.recycling-program .cards{
	display:flex;
	justify-content:center;
	column-gap: 15px;
	margin: 20px 0px;
}

.recycling-program .cards .card{
	filter: drop-shadow(10px 17.321px 40px rgba(2,2,2,0.2));
    background-color: #ffffff;
    padding: 30px;
    width: 15%;


}

.recycling-program .button{
	display: flex;
	justify-content: center; 
	margin-bottom: 20px;	
}

.seventh{
 display:flex;
  flex-direction: row;
  margin-top: 10px;
  background-color:#E0FFFF;
  align-items:center;
  justify-content: space-around;
}

.seventh .urban-impact{
	display:flex;
	align-items:start;

}

.seventh .text-logo{
	display:flex;
	flex-direction:column;
	justify-content: center;
	
}
.seventh .text-logo .fa-facebook {
  background: #3B5998;
  color: white;
}

.seventh ul{
	 list-style-type: none;

}

.footer{
	text-align:center;
	background-color: black;
	padding: 20px 0px;
	color: white;
}